/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 20, ../../sass/common/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 31, ../../sass/common/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* line 34, ../../sass/common/_reset.scss */
body {
  line-height: 1; }

/* line 37, ../../sass/common/_reset.scss */
a {
  color: inherit;
  text-decoration: none; }

/* line 41, ../../sass/common/_reset.scss */
ol, ul {
  list-style: none; }

/* line 44, ../../sass/common/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 48, ../../sass/common/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 52, ../../sass/common/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 92, ../../sass/common/_reusable.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* line 100, ../../sass/common/_reusable.scss */
* html .clearfix {
  zoom: 1; }

/* IE6 */
/* line 101, ../../sass/common/_reusable.scss */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
/* line 103, ../../sass/common/_reusable.scss */
.table {
  display: table; }

/* line 107, ../../sass/common/_reusable.scss */
.tr {
  display: table-row; }

/* line 111, ../../sass/common/_reusable.scss */
.td {
  display: table-cell; }

/* line 115, ../../sass/common/_reusable.scss */
.hidden {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  opacity: 0; }

/* line 120, ../../sass/common/_reusable.scss */
.visible {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  opacity: 1; }

@font-face {
  font-family: "icons";
  src: url("../../Fonts/icons/icons-852add521a03b4815e253d9e7f0bf4c6.eot");
  src: url("../../Fonts/icons/icons-852add521a03b4815e253d9e7f0bf4c6.eot?#iefix") format("embedded-opentype"), url("../../Fonts/icons/icons-852add521a03b4815e253d9e7f0bf4c6.woff") format("woff"), url("../../Fonts/icons/icons-852add521a03b4815e253d9e7f0bf4c6.ttf") format("truetype"), url("../../Fonts/icons/icons-852add521a03b4815e253d9e7f0bf4c6.svg?#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 15, ../../sass/common/_icons.scss */
.icon,
.ligature-icons {
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 34, ../../sass/common/_icons.scss */
.icon_email:before {
  content: "email"; }

/* line 39, ../../sass/common/_icons.scss */
.icon_facebook:before {
  content: "facebook"; }

/* line 44, ../../sass/common/_icons.scss */
.icon_rss:before {
  content: "rss"; }

/* line 49, ../../sass/common/_icons.scss */
.icon_share:before {
  content: "share"; }

/* line 54, ../../sass/common/_icons.scss */
.icon_twitter:before {
  content: "twitter"; }

/* line 59, ../../sass/common/_icons.scss */
.icon_youtube:before {
  content: "youtube"; }

/* line 5, ../../sass/common/_deviceTester.scss */
#mobileTester {
  display: none;
  visibility: hidden; }

/* line 10, ../../sass/common/_deviceTester.scss */
#tabletTester {
  display: none;
  visibility: hidden; }

/* line 15, ../../sass/common/_deviceTester.scss */
#legacyWarning {
  display: none; }

/* line 20, ../../sass/common/_deviceTester.scss */
html.no-css-transforms body * {
  display: none; }
/* line 24, ../../sass/common/_deviceTester.scss */
html.no-css-transforms #legacyWarning {
  display: block !important; }

@media all and (max-device-width: 650px) {
  /* line 34, ../../sass/common/_deviceTester.scss */
  html.touch #mobileTester {
    display: none;
    visibility: visible; } }
@media all and (min-device-width: 768px) and (max-device-width: 1280px) {
  /* line 46, ../../sass/common/_deviceTester.scss */
  html.touch #tabletTester {
    display: none;
    visibility: visible; } }
