$break-phone-width: 500px;
$break-tablet-width: 960px;
//$break-regular: 1240px;
$break-large-width: 1640px;
$break-massive-width: 2240px;

$break-phone-height: 640px;
$break-tablet-height: 680px;
//$break-regular: 1240px;
$break-large-height: 760px;
$break-massive-height: 960px;

@mixin respond-to-width($media) {
  @if $media == phone {
    @media only screen and (max-width: $break-phone-width) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $break-tablet-width) { @content; }
  }
  @else if $media == large-screen {
    @media only screen and (min-width: $break-large-width) { @content; }
  }
  @else if $media == massive-screen {
    @media only screen and (min-width: $break-massive-width) { @content; }
  }
}

@mixin respond-to-height($media) {
  @if $media == phone {
    @media only screen and (max-height: $break-phone-height) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (max-height: $break-tablet-height) { @content; }
  }
  @else if $media == large-screen {
    @media only screen and (min-height: $break-large-height) { @content; }
  }
  @else if $media == massive-screen {
    @media only screen and (min-height: $break-massive-height) { @content; }
  }
}