=keyframe($name)
    @-webkit-keyframes #{$name}
        @content
    @-moz-keyframes #{$name}
        @content
    @-ms-keyframes #{$name}
        @content
    @keyframes #{$name}
        @content
    


=animation ($animation, $duration, $timingFunction:ease, $delay:0, $iteration:infinite, $direction:running ) 
    -webkit-animation-name: $animation
    -webkit-animation-duration: $duration
    -webkit-animation-timing-function: $timingFunction
    -webkit-animation-delay: $delay
    -webkit-animation-duration: $duration
    -webkit-animation-iteration-count: $iteration
    -webkit-animation-direction: $direction

    -moz-animation-name: $animation
    -moz-animation-duration: $duration
    -moz-animation-timing-function: $timingFunction
    -moz-animation-delay: $delay
    -moz-animation-duration: $duration
    -moz-animation-iteration-count: $iteration
    -moz-animation-direction: $direction

    animation-name: $animation
    animation-duration: $duration
    animation-timing-function: $timingFunction
    animation-delay: $delay
    animation-duration: $duration
    animation-iteration-count: $iteration
    animation-direction: $direction


=translate-center ($type:vertical,$position:absolute)
    position: $position
    
    @if $type == 'horizontal'
        +translateX(-50%)
        left: 50%
    @else if $type == 'vertical'
        +translateY(-50%)
        top: 50%
    @else
        +translate(-50%,-50%)
        top: 50%
        left: 50%