$mobile_tester: "all and (max-device-width : 650px)";
$tablet_tester: "all and (min-device-width : 768px) and (max-device-width : 1280px)";


#mobileTester {
	display: none;
	visibility: hidden;
}

#tabletTester {
	display: none;
	visibility: hidden;
}

#legacyWarning {
	display: none;
}

html.no-css-transforms {
	body * {
		display: none;
	}

	#legacyWarning {
		display: block !important;
	}
}


//MOBILE
////////
@media #{$mobile_tester} {
	html.touch {
		#mobileTester {
			display: none;
			visibility: visible;
		}
		//@import "mobile"
	}	
}

//TABLET
////////
@media #{$tablet_tester} {
	html.touch {
		#tabletTester {
			display: none;
			visibility: visible;
		}
		//@import "tablet"
	}	
}