// Pumkin Generic Mixins
// Reusable styles and variables

@mixin inline-block {
	display:inline-block;
	vertical-align:top;
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: $color;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color;  
	}

	&:-ms-input-placeholder {  
	   color: $color; 
	}
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin transition ($property , $time) {
	-webkit-transition: $property $time;
    -moz-transition: $property $time;
    -o-transition: $property $time;
    transition: $property $time;
}

@mixin animate($time) {
	-webkit-transition-duration: $time;
    -moz-transition-duration: $time;
    -o-transition-duration: $time;
    transition-duration: $time;
}

@mixin delay($time) {
	-webkit-transition-delay: $time;
    -moz-transition-delay: $time;
    -o-transition-delay: $time;
    transition-delay: $time;
}

@mixin vertical-centre($offsetTop:50%) {
	top: $offsetTop;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin center-horizontal($offsetTop:50%) {
	left: $offsetTop;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin accelerate {
	// force hardware acceleration to kick in
   	-webkit-transform: translateZ(0);
   	-moz-transform: translateZ(0);
   	-ms-transform: translateZ(0);
   	-o-transform: translateZ(0);
   	transform: translateZ(0);
   	/* Other transform properties here */
}

// @mixin rotate ($degree) {
// 	transform:rotate($degree);
// 	-ms-transform:rotate($degree);
// 	-webkit-transform:rotate($degree);
// }

// @mixin transform-origin ($x, $y) {
// 	transform-origin:$x $y;
// 	-ms-transform-origin:$x $y;
// 	-webkit-transform-origin:$x $y;
// }


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.table {
	display:table;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

.hidden {
	@include animate(400ms);
	opacity:0;
}

.visible {
	@include animate(400ms);
	opacity: 1;
}